.menu-page-container a {
    text-decoration: none;
    color: var(--color-blue);

}

.menu-link {
    border-bottom: 1px solid var(--color-blue);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link img {
    width: 8px;
}