.title-page {
    color: var(--color-red);
}

#category-chance-links {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: var(--color-blue);
}

#category-chance-links div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-category-chance-img,
#order-category-chance-img {
    width: 18px;
    margin-right: 5px;
}

#filter-category-chance-link,
#order-category-chance-link {
    text-decoration: none;
    color: var(--color-blue);
}

#header-filter,
#header-order {
    border: 0;
}

#header-filter h1,
#header-order h1 {
    font-size: 24px;
    color: var(--color-red);
}

#filter-modal p {
    color: var(--color-blue);
    font-weight: bold;
}

#order label {
    color: var(--color-blue);
    font-weight: bold;
    margin-right: 5px;
}