.updateproduct-form-container {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65.425px);
    width: 100vw;
}

#Updateproduct-form {
    background-color: var(--color-celeste);
    width: 80%;
    padding: 2rem;
    border-radius: 10px;
}

#msgred {
    color: red;
}

#register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewproductInput {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-blue);
    width: 90%;
    margin: .5rem;
    padding: 7px;
    font-size: .8rem;
}

.NewproductInput:focus {
    outline: none;
    border: 1.5px solid;
    border-color: red;
}

#registerBoton {
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: white;
    width: 70%;
    margin: .5rem;
    padding: 5px;
    font-size: 1rem;
}